apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: delivery-system
spec:
  type: ClusterIP
  selector:
    app: payment-service
  ports:
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
